extends layout

block content
  .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    header.masthead.mb-auto
      .inner 
        h3.masthead-brand Spotify Jukebox
    main(role="main").inner.cover
      h1.cover-heading It's a jukebox, but online.
      p.lead The evening’s soundtrack is purely dependent on the whims of the patrons.
      p.lead
        a(href="/create").btn.btn-lg.btn-secondary Start
    footer.mastfoot.mt-auto 
      .inner