extends layout

block content
  h1.cover-heading It's a jukebox, but online.
  p.lead The evening’s soundtrack is purely dependent on the whims of the patrons.
  p.lead
    a(href="/create").btn.btn-lg.btn-secondary Start