extends layout

block content
  h2.cover-heading What is this?
  p.lead This is a social jukebox app where you can allow guests to queue songs on your Spotify account.
  br
  p.lead Only the creator of the instance needs to have a Spotify account. Once an instance is created, you can share it with whoever you want by clicking the 'share' icon in the top right corner of the app. 
  br
  p.lead It is designed to be used in a web browser so anyone anywhere can use it.