extends layout

block content
  h1.cover-heading It's a jukebox, but online.
  p.lead Get it?
  p.lead
    a(href="/create").btn.btn-lg.btn-secondary Start
    span.align-bottom &nbsp;or&nbsp;
    a(href="https://qrcodescan.in/").btn.btn-lg.btn-secondary Connect
  
  br

  if instances.length > 0
    h3 Jump back in...
    ul.list-unstyled
      each instance in instances
        li.list-instances
          a(href="/app/#" + instance.playerId) #{instance.playerId}
            img(src=instance.track.item.album.images[0].url).img-list


    