.band-title {
    margin-top: .25em;
    margin-bottom: .05em;
}

.list-img {
    max-height:3em;
}

.play-icon {
    font-size:3em;
}

.home-icon {
    padding-top: 0;
    margin-right:.15em;
    font-size:1.6rem;
}

/* Probably a better way to do this... */
.sig-canvas {
    border: 1px solid white;
    border-radius:.25rem;
}

.was-validated .sig-canvas.is-invalid {
    border-color: #dc3545
}

.was-validated  .sig-canvas.is-valid {
    border-color: #28a745;
}