.band-title {
    margin-top: .25em;
    margin-bottom: .05em;
}

.list-img {
    max-height:3em;
}

.play-icon {
    font-size:3em;
}

.home-icon {
    padding-top: 0;
    margin-right:.15em;
    font-size:1.6rem;
}

.full-screen-display {
    min-height: calc(100vh - 100px);
}

.track-vertical-align {
    display: flex;
    align-items: center;
}

.track-item {
    flex: 1 1 0;
}

.now-playing-container {
    position: relative;
}

.player-state-text {
    width: 100%;
}

.track-queue-alert {
    position: absolute;
    top: 0;
    width:100%;
    z-index: 2;
}

/* Probably a better way to do this... */
.sig-canvas {
    border: 1px solid white;
    border-radius:.25rem;
}

.was-validated .sig-canvas.is-invalid {
    border-color: #dc3545
}

.was-validated  .sig-canvas.is-valid {
    border-color: #28a745;
}

#audio-visualizer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index:-999;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
}

.truncated {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sticky-track-info {
    padding-left:0;
    overflow: hidden;
}

.settings-icon {
    position:absolute;
    bottom:0;
    right:0;
    z-index:9999;
    padding-bottom: 20px;
    padding-right: 20px;
}